:root {
  --md-sys-color-primary: 350 32 43; /* hsl(350 32 43 / 1) */
  --md-sys-color-on-primary: 0 0 100; /* hsl(0 0 100 / 1) */
  --md-sys-color-primary-container: 351 96 82; /* hsl(351 96 82 / 1) */
  --md-sys-color-on-primary-container: 348 39 32; /* hsl(348 39 32 / 1) */
  --md-sys-color-secondary: 352 15 40; /* hsl(352 15 40 / 1) */
  --md-sys-color-on-secondary: 0 0 100; /* hsl(0 0 100 / 1) */
  --md-sys-color-secondary-container: 353 100 92; /* hsl(353 100 92 / 1) */
  --md-sys-color-on-secondary-container: 352 19 30; /* hsl(352 19 30 / 1) */
  --md-sys-color-tertiary: 33 42 34; /* hsl(33 42 34 / 1) */
  --md-sys-color-on-tertiary: 0 0 100; /* hsl(0 0 100 / 1) */
  --md-sys-color-tertiary-container: 31 100 82; /* hsl(31 100 82 / 1) */
  --md-sys-color-on-tertiary-container: 32 46 25; /* hsl(32 46 25 / 1) */
  --md-sys-color-error: 3 71 41; /* hsl(3 71 41 / 1) */
  --md-sys-color-on-error: 0 0 100; /* hsl(0 0 100 / 1) */
  --md-sys-color-error-container: 4 71 92; /* hsl(4 71 92 / 1) */
  --md-sys-color-on-error-container: 3 71 32; /* hsl(3 71 32 / 1) */
  --md-sys-color-background: 285 100 98; /* hsl(285 100 98 / 1) */
  --md-sys-color-on-background: 264 8 12; /* hsl(264 8 12 / 1) */
  --md-sys-color-surface: 8 100 98; /* hsl(8 100 98 / 1) */
  --md-sys-color-on-surface: 353 15 12; /* hsl(353 15 12 / 1) */
  --md-sys-color-surface-variant: 357 38 91; /* hsl(357 38 91 / 1) */
  --md-sys-color-on-surface-variant: 352 10 29; /* hsl( 352 10 29 / 1) */
  --md-sys-color-outline: 356 7 48; /* hsl(356 7 48 / 1) */
  --md-sys-color-outline-variant: 357 21 80; /* hsl(357 21 80 / 1) */
  --md-sys-color-surface-tint: 350 32 43; /* hsl(350 32 43 / 1) */
  --md-sys-color-shadow: 0 0 0; /* hsl(0 0 0 / 1) */
  --md-sys-color-scrim: 0 0 0; /* hsl(0 0 0 / 1) */
  --md-sys-color-inverse-surface: 353 10 17; /* hsl(353 10 17 / 1) */
  --md-sys-color-inverse-on-surface: 356 68 95; /* hsl(356 68 95 / 1) */
  --md-sys-color-inverse-primary: 351 100 85; /* hsl(351 100 85 / 1) */
  --md-sys-color-primary-fixed: 351 96 82; /* hsl(351 96 82 / 1) */
  --md-sys-color-on-primary-fixed: 344 79 13; /* hsl(344 79 13 / 1) */
  --md-sys-color-primary-fixed-dim: 350 55 71; /* hsl(350 55 71 / 1) */
  --md-sys-color-on-primary-fixed-variant: 348 39 32; /* hsl(348 39 32 / 1) */
  --md-sys-color-secondary-fixed: 353 100 92; /* hsl(353 100 92 / 1) */
  --md-sys-color-secondary-fixed-dim: 354 43 82; /* hsl(354 43 82 / 1) */
  --md-sys-color-on-secondary-fixed-variant: 352 19 30; /* hsl(352 19 30 / 1) */
  --md-sys-color-tertiary-fixed: 31 100 82; /* hsl(31 100 82 / 1) */
  --md-sys-color-on-tertiary-fixed: 32 100 8; /* hsl(32 100 8 / 1)*/
  --md-sys-color-on-tertiary-fixed-dim: 32 60 71; /* hsl(32 60 71 / 1) */
  --md-sys-color-on-tertiary-fixed-variant: 32 46 25; /* hsl(32 46 25 / 1) */
  --md-sys-color-surface-dim: 356 26 87; /* hsl(356 26 87 / 1) */
  --md-sys-color-surface-bright: 8 100 98; /* hsl(8 100 98 / 1) */
  --md-sys-color-surface-container-lowest: 0 0 100; /* hsl(0 0 100 / 1) */
  --md-sys-color-surface-container-low: 356 100 97; /* hsl(356 100 97 / 1) */
  --md-sys-color-surface-container: 356 68 95; /* hsl(356 68 95 / 1) */
  --md-sys-color-surface-container-high: 357 50 93; /* hsl(357 50 93 / 1) */
  --md-sys-color-surface-container-highest: 357 38 91; /* hsl(357 38 91 / 1)*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: 351 100 85; /* hsl(351 100 85 / 1) */
    --md-sys-color-on-primary: 347 50 23; /* hsl(347 50 23 / 1) */
    --md-sys-color-primary-container: 349 38 32; /* hsl(349 38 32 / 1) */
    --md-sys-color-on-primary-container: 354 100 93; /* hsl(354 100 93 / 1) */
    --md-sys-color-secondary: 354 43 82; /* hsl(354 43 82 / 1) */
    --md-sys-color-on-secondary: 351 24 21; /* hsl(351 24 21 / 1) */
    --md-sys-color-secondary-container: 352 19 30; /* hsl(352 19 30 / 1) */
    --md-sys-color-on-secondary-container: 354 100 93; /* hsl(354 100 93 / 1) */
    --md-sys-color-tertiary: 32 68 74; /* hsl(32 68 74 / 1) */
    --md-sys-color-on-tertiary: 35 82 15; /* hsl(35 82 15 / 1) */
    --md-sys-color-tertiary-container: 34 54 24; /* hsl(34 54 24 / 1) */
    --md-sys-color-on-tertiary-container: 31 100 86; /* hsl(31 100 86 / 1) */
    --md-sys-color-error: 3 70 83; /* hsl(3 70 83 / 1) */
    --md-sys-color-on-error: 3 71 22; /* hsl(3 71 22 / 1) */
    --md-sys-color-error-container: 3 71 32; /* hsl(3 71 32 / 1) */
    --md-sys-color-on-error-container: 4 71 92; /* hsl(4 71 92 / 1) */
    --md-sys-color-background: 260 14 8; /* hsl(260 14 8 / 1) */
    --md-sys-color-on-background: 280 17 90; /* hsl(280 17 90 / 1) */
    --md-sys-color-surface: 353 19 8; /* hsl(353 19 8 / 1) */
    --md-sys-color-on-surface: 357 38 91; /* hsl(357 38 91 / 1) */
    --md-sys-color-surface-variant: 357 38 91; /* hsl(357 38 91 / 1) */
    --md-sys-color-on-surface-variant: 357 21 80; /* hsl( 357 21 80 / 1) */
    --md-sys-color-outline: 354 9 59; /* hsl(354 9 59 / 1) */
    --md-sys-color-outline-variant: 352 10 29; /* hsl(352 10 29 / 1) */
    --md-sys-color-surface-tint: 351 100 85; /* hsl(351 100 85 / 1) */
    --md-sys-color-shadow: 0 0 0; /* hsl(0 0 0 / 1) */
    --md-sys-color-scrim: 0 0 0; /* hsl(0 0 0 / 1) */
    --md-sys-color-inverse-surface: 357 38 91; /* hsl(357 38 91 / 1) */
    --md-sys-color-inverse-on-surface: 355 10 22; /* hsl(355 10 22 / 1) */
    --md-sys-color-inverse-primary: 350 32 43; /* hsl(350 32 43 / 1) */
    --md-sys-color-primary-fixed: 351 96 82; /* hsl(351 96 82 / 1) */
    --md-sys-color-on-primary-fixed: 344 79 13; /* hsl(344 79 13 / 1) */
    --md-sys-color-primary-fixed-dim: 350 55 71; /* hsl(350 55 71 / 1) */
    --md-sys-color-on-primary-fixed-variant: 348 39 32; /* hsl(348 39 32 / 1) */
    --md-sys-color-secondary-fixed: 353 100 92; /* hsl(353 100 92 / 1) */
    --md-sys-color-secondary-fixed-dim: 354 43 82; /* hsl(354 43 82 / 1) */
    --md-sys-color-on-secondary-fixed-variant: 352 19 30; /* hsl(352 19 30 / 1) */
    --md-sys-color-tertiary-fixed: 31 100 82; /* hsl(31 100 82 / 1) */
    --md-sys-color-on-tertiary-fixed: 32 100 8; /* hsl(32 100 8 / 1)*/
    --md-sys-color-on-tertiary-fixed-dim: 32 60 71; /* hsl(32 60 71 / 1) */
    --md-sys-color-on-tertiary-fixed-variant: 32 46 25; /* hsl(32 46 25 / 1) */
    --md-sys-color-surface-dim: 353 19 8; /* hsl(353 19 8 / 1) */
    --md-sys-color-surface-bright: 354 8 24; /* hsl(354 8 24 / 1) */
    --md-sys-color-surface-container-lowest: 353 25 6; /* hsl(353 25 6 / 1) */
    --md-sys-color-surface-container-low: 353 15 12; /* hsl(353 15 12 / 1) */
    --md-sys-color-surface-container: 353 13 13; /* hsl(353 13 13 / 1) */
    --md-sys-color-surface-container-high: 353 10 17; /* hsl(353 10 17 / 1) */
    --md-sys-color-surface-container-highest: 355 10 22; /* hsl(355 10 22 / 1) */
  }
}
